.flexClass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_width {
  width: 87%;
  margin: auto;
}
.paddingTB {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}
