@media (max-width: 1100px) {
  .navbar {
    gap: 1rem;
  }
  input {
    width: 13rem;
  }
  .contact_me {
    gap: 3rem;
  }
  .mywork_shadow {
    gap: 0rem;
    row-gap: 2rem;
  }
  .img_demo {
    max-width: 25rem;
    height: 23rem;
  }
  .demo_box {
    width: fit-content;
  }
  .animated-text {
    width: 16rem;
  }
  .Toastify__toast{
    background: linear-gradient(45deg, rgb(47 32 82 / 96%), rgb(62, 29, 87));
  font-weight: 500;
    border-radius: 8px;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    width: fit-content;
    font-size: large;
    padding: 1rem;

  }
}
@media (max-width: 1023px) {
  .hero_container {
    gap: 1rem;
  }
  .hero_counter {
    gap: 7rem;
  }
  .service_title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  .resume_content {
    gap: 2rem;
  }
  input {
    width: 12rem;
  }
  .contact_form {
    padding: 1.3rem;
  }
}
@media (max-width: 940px) {
  .container {
    background: linear-gradient(267deg, #0f0715, #1f0e32, #0f0715, #0f0715);
  }
  .navbar {
    gap: 10rem;
  }
  .hide {
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 1s ease;
  }
  .visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a1454;
    position: absolute;
    top: 7rem;
    width: 100%;
    padding: 3rem;
    z-index: 100;
    font-size: xx-large;
    height: 100vh;
    opacity: 1;
  }
  .nav_scroll {
    padding: 0.5rem;
  }
  .burger {
    display: flex;
  }
  .hero_name {
    font-size: 2rem;
  }
  .hero_intro {
    width: 18rem;
    line-height: 1.6;
  }
  .resume_social {
    flex-direction: column;
    align-items: baseline;
  }
  .hero_pic {
    width: 20rem;
    height: 24rem;
  }
  .heading_title {
    font-size: 2.2rem;
  }
  .about_hero {
    font-size: 4rem;
  }
  .hero_counter {
    gap: 4rem;
  }
  .service_title {
    font-size: 1.4rem;
    width: 18rem;
  }
  .service_icon {
    font-size: 4rem;
  }

  .service_box {
    gap: 0.5rem;
  }
  .img_demo {
    padding: 1.3rem;
    padding-bottom: 0rem;
    max-width: 22rem;
    height: 21rem;
  }
  .mywork_shadow {
    filter: drop-shadow(0rem 0rem 0.5rem #261541);
  }
  .project_desc {
    display: none;
  }
  .demo_box {
    width: 23rem;
    overflow: hidden;
    gap: 5rem;
  }
  .demo_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pro_title {
    white-space: normal;
    overflow: visible;
    width: fit-content;
    font-size: 2rem;
  }
  .mywork_shadow {
    gap: 2rem;
  }
  .info {
    width: fit-content;
  }
  .my_detail {
    width: min-content;
  }
}

@media (max-width: 760px) {
  .email {
    display: none;
  }
  .hero_section {
    border-bottom: 1px solid;
  }
  .animated-text {
    display: none;
  }
  .hero_pic {
    display: none;
  }
  .media_pic {
    display: block;
    width: 25rem;
    height: 28rem;
    border-radius: 1.7rem;
    rotate: 3deg;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: 0.6s;
  }
  .media_pic:hover {
    rotate: 0deg;
  }
  .hero_intro {
    width: 27rem;
  }
  .resume_social {
    flex-direction: row;
    align-items: center;
  }
  .about_hero {
    font-size: 2.9rem;
  }
  .hero_counter {
    gap: 2rem;
  }
  .mywork_shadow {
    grid-template-columns: repeat(1, 0fr);
  }
  .img_demo {
    max-width: 30rem;
    height: 25rem;
  }
  .mywork_shadow {
    filter: drop-shadow(0rem 0rem 0rem #261541);
  }
  .project_desc {
    display: flex;
  }
  .demo_container {
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  .demo_box {
    width: fit-content;
  }
  .pro_title {
    white-space: nowrap;
    font-size: 1.7rem;
  }
  .resume_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .resume_hover {
    width: 31rem;
  }
  .resume {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }
  .myskills_container {
    border-bottom: 1px solid gray;
  }
  .contact_me {
    flex-direction: column-reverse;
  }
  input {
    width: 15rem;
  }
  .media_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .media_icon {
    display: block;
  }
  .serv_icon {
    display: none;
  }
  .service_desc {
    width: 18rem;
  }
  .serv_media_desc {
    width: fit-content;
  }
  .service_box {
    flex-direction: column;
    align-items: baseline;
    max-width: 95%;
  }
  .serv_media_box {
    gap: 10rem;
  }
  .service_icon {
    font-size: 3rem;
  }
  .service_title {
    font-size: 1.7rem;
    width: 22rem;
  }
  .serv_media_desc {
    width: fit-content;
  }
  .service_desc {
    width: fit-content;
  }
  .footer_content {
    border-top: 1px solid;
  }
}

@media (max-width: 550px) {
  .navbar {
    gap: 2rem;
  }
  .about_hero {
    font-size: 2.1rem;
  }
  .hero_counter {
    gap: 1rem;
  }
  .counter_text {
    font-size: 0.8rem;
  }

  .serv_media_box {
    gap: 1rem;
  }
  .service_icon {
    font-size: 2rem;
  }
  .service_box {
    width: 100%;
  }
  .service_title {
    width: 23rem;
    font-size: 1.4rem;
  }
  input {
    width: 12rem;
  }
  .service_desc {
    font-size: large;
  }
  .title_desc {
    padding: 0rem 1rem;
    font-size: large;
  }
  .resume_hover {
    font-size: large;
  }
  .resume_social {
    font-size: large;
  }
  .CircularProgressbar {
    height: 3.7rem;
    right: 21px;
  }
}
@media (max-width: 495px) {
  .service_title {
    width: 19rem;
  }
  .about_hero {
    font-size: 2.8rem;
  }
  .btn {
    font-size: large;
  }
  .logo_img {
    margin-left: -3rem;
  }
  .media_flex {
    gap: 1rem;
  }
  .filter_buttons {
    font-size: large;
  }
  .footer_ul {
    gap: 1rem;
    font-size: large;
  }
  .footer_img {
    width: 12rem;
  }
  .footer_copyright {
    font-size: large;
  }
  .contact_form {
    width: 27rem;
    padding: 1rem;
  }
  .Toastify__toast{
    margin: auto;
    margin-top: 1rem;
    font-weight: 500;
  }
}
@media (max-width: 430px) {
  .navbar {
    gap: 0rem;
  }
  .hero_container {
    margin-top: 1rem;
  }
  .hero_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .media_pic {
    width: 22rem;
    height: 26rem;
  }
  .hero_intro {
    width: 22rem;
  }
  .resume_social {
    flex-direction: column;
  }
  .hero_counter {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
  .about_hero {
    font-size: 2.4rem;
  }
  .service_title {
    width: 17rem;
    font-size: 1.3rem;
  }
  .img_demo {
    max-width: 24rem;
    height: 25rem;
  }
  .project_desc {
    width: fit-content;
  }
  .demo_box {
    width: 23rem;
    gap: 1rem;
  }
  .pro_title {
    width: 18.2rem;
    overflow: hidden;
    font-size: x-large;
    line-height: 1;
  }
  .resume_hover {
    width: 24rem;
  }
  .input_field{
    flex-direction: column;
    font-size: large;
    background-color: #0f0715;
  }

.input_flex{
  flex-direction: column;
}
  .service_box {
    max-width: 95%;
  }
  .myskills {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .counter_text {
    font-size: medium;
  }
  input {
    width: 22rem;
  }
  .contact_form {
    width: 24rem;
  }
}
@media (max-width: 394px) {
  .heading_title {
    font-size: xx-large;
  }
  .service_icon {
    display: none;
  }
  .service_title {
    width: fit-content;
    font-size: x-large;
    white-space: normal;
  }
  .sno {
    font-size: xx-large;
  }
  .media_pic {
    width: 18rem;
    height: 22rem;
  }
  .filter_buttons {
    gap: 1rem;
  }
  .logo_img {
    margin-left: -4rem;
  }
  .media_flex {
    margin-left: -2rem;
  }
  .img_demo {
    max-width: 20rem;
    height: 19rem;
  }
  .demo_box {
    width: 18rem;
  }
  .project_desc {
    width: 17rem;
  }
  .pro_title {
    overflow: visible;
    line-height: 1;
    white-space: normal;
  }
  .mywork_child {
    display: none;
  }
  .exp_date {
    font-size: large;
  }
  .exp_position {
    white-space: normal;
  }
  .resume_hover {
    width: 20rem;
  }
  .footer_ul {
    gap: 0.7rem;
  }
  input {
    width: 19rem;
  }
  .contact_form {
    width: 22.5rem;
  }
  .title_desc {
    padding: 0rem;
  }
}
@media (max-width: 360px) {
  input {
    width: 17rem;
  }
  .contact_form {
    width: 19rem;
  }
  .footer_ul {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: center;
    column-gap: 3rem;
  }
  .footer_copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.7;
  }
  .myskills {
    grid-template-columns: repeat(1, 0fr);
  }
  .group {
    width: 11rem;
  }
  .exp_position {
    font-size: large;
  }
  .exp_location {
    font-size: medium;
  }
  .resume_hover {
    width: 17.5rem;
  }
  .info {
    gap: 0.5rem;
  }
  .filter_buttons {
    gap: 0.5rem;
  }
  .hero_intro {
    width: 15rem;
  }
  .hero_counter {
    gap: 0.5rem;
  }
  .about_hero {
    font-size: 2.2rem;
  }
  .heading_title {
    font-size: x-large;
  }
  .title_desc {
    font-size: medium;
  }
  .CircularProgressbar{
    top: 65vh;
  }
}
